# Web Framework
flask==3.0.0
flask-cors==4.0.0

# ML & Data Processing
pyspark
pandas
numpy
scikit-learn==1.3.2

# HTML Parsing
beautifulsoup4==4.12.2
lxml==4.9.3

# Clustering
hdbscan==0.8.33

# HTTP utilities
requests==2.31.0

# Geo
h3==3.7.6
haversine==2.8.0

